@charset 'UTF-8';
@import 'https://fonts.googleapis.com/css?family=Abel';

html
{
    font-size: 70.5%;
}


.box {
  background-image:
  url("https://static.pexels.com/photos/260487/pexels-photo-260487.jpeg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px
}
@media (max-width: 768px) {
  .box {
    height: 250px;
  }
}


body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
    letter-spacing: .1em;
    color: #FF5F7B;
    background-color: #dcdcdc;
    margin-top:30px;
}
p
{
    font-size: 2.0rem;text-align: center;
}

p.title{
    font-weight: 700;
    font-size: 2.1rem;
}

div.common {
  border: 1px solid #000000;
  background-color: white;
  padding: 20px;
  width: 300px;
  float: left;
  margin:30px;
}

@media (max-width: 768px) {
  div.common {
    flex-direction: column;
    margin: 10px 0px;
    width: 90%
  }
}


section{
    padding: 40px
}



.button-contact
{
    font-size: 30px; 
    line-height: 0; 
    display: block;
    width: 40px; 
    height: 40px; 
    margin: 20px 20px 20px 20px;
    padding: 10px;
    text-align: center;
    color: #4c4c4c; 
    border: 2px solid #4c4c4c;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
      
    margin-left: auto;
    margin-right:auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

footer{
    clear: both;
}
